.notificator
  %h3 New Subcategory

= form_for @subcategory, url: admin_subcategories_path, method: :post, remote: true, html: {class: 'cool'} do |f|
  = render 'admin/subcategories/units/fields', f: f
  %fieldset
    .controls
      = f.submit 'create'
  
%hr

#subcategories
  .notificator
    %h3 Subcategories
  - @subcategories.each do |subcategory|
    = render 'admin/subcategories/units/list_unit', subcategory: subcategory


:coffeescript
  $ -> 
    $('form.cool select').change ->
      $(this).siblings().css("color", "red")
      
    $('form.cool input').keyup ->
      $(this).siblings().css("color", "red")
    