%menu.alphabet
  %ul
    %li
      %a{class: class_if('active', params[:symbol].blank?), href: url_for(symbol: '', scope: params[:scope])} All
    - ['0-9', ('A'..'Z').to_a].flatten.each do |symbol|
      %li
        %a{class: class_if('active', params[:symbol] == symbol), href: url_for(symbol: symbol, scope: params[:scope])}= symbol