%menu#genres.buttons
  %ul
    %li
      %a{href: event_groups_path, class: class_if('active', !genre)} All
    - Genre.each do |selected_genre|
      %li
        %a{href: genre_event_groups_path(selected_genre), class: class_if('active',  genre == selected_genre)}= selected_genre.sw_name
