%menu#genres.buttons
  %ul
    - Genre.all.to_a.first(2).each do |selected_genre|
      %li
        %a{href: genre_event_groups_path(selected_genre), class: class_if('active',  genre == selected_genre)}= selected_genre.sw_name
