%footer#footer
  :javascript
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter21520519 = new Ya.Metrika({id:21520519,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  %noscript
    %div 
      %img{src: "//mc.yandex.ru/watch/21520519", style: "position:absolute; left:-9999px;", alt: ''}
  %ul<>
    %li
      %a{href: '#', onclick: '$(window).scrollTop(0)'}
        %img{src: '/assets/scroller.png', alt: 'Scroll top'}
    %li<>= link_to 'Events', '/'
    %li<>= link_to 'Artists', event_groups_url
    %li.search<>
      = form_for :q, url: '/search', method: :get do |f|
        = f.text_field :text, placeholder: 'Search by artist, event or even more...'
        
  - if person_signed_in?
    %ul<>
      %li<>= link_to 'Logout', destroy_person_session_path, method: :delete
      %li<>= link_to 'Categ', admin_categories_path
      %li<>= link_to 'Subcat', admin_subcategories_path
      %li<>
  %ul<>
    %li<>
      = link_to '©', new_person_session_path
      «Gdebilet», 2012—2013
    %li<>
    %li<>
      Дизайн сайта — 
      %a NewCult