.breadcrumbs
  %ul
    %li
      %a{href: '#'} home
    %li
      %a{href: '/search'} search results
    %li
      %a.current{href: '/search/venues'} venues

= render 'search/search_input'

#venues-list
  #container<>
    = render 'venues/units/venues_set', venues: @venues
  #spinner{style: 'display: none'}
    %img{src: '/assets/spinner.gif'}


:coffeescript
  $ -> $("#venues-list").endlessPage
    query: "#{{q: params[:q]}.to_query if params[:q]}"
    request_path: "#{request.path}"