.breadcrumbs
  %ul
    %li
      %a{href: '#'} home
    %li
      %a{href: '/search'} search results
    %li
      %a.current{href: '/search/events'} events

= render 'search/search_input'

#events-list
  #container<>
    = render 'events/units/events_set', events: @events, previous_event_date: nil
  #spinner{style: 'display: none'}
    %img{src: '/assets/spinner.gif'}


:coffeescript
  $ -> $("#events-list").endlessPage
    query: "#{{q: params[:q]}.to_query if params[:q]}"
    request_path: "#{request.path}"