- event_groups.each do |event_group|
  = render 'search/event_groups/units/event_group', event_group: event_group

- if event_groups.last_page?
  %center#last-page
    %h4 There are no performers more
  %hr