#footer
  @extend .top-bar
  border-bottom: 0px !important
  &:after
    display: none !important
  &, *
    overflow: visible !important
  ul > li > h1
    position: relative
    img
      position: absolute
      bottom: -30px
  ul > li:last-child > a
    margin: 0 10px