@import compass
@import compass/reset
@import datepicker
@import buttons

=row
  width: 960px
  margin: 0 auto !important

body
  font-family: Arial, Helvetica, sans-serif

@import top_bar
@import menu
@import events
@import notificator
@import footer
@import breadcrumbs
@import venue
@import billboard
@import event_group
@import search

#map-canvas
  width: 960px
  height: 240px



    
  