.row#events-list
  .large-12#container
    = render 'events/units/events_set', events: events, previous_event_date: nil
  .large-12#spinner{style: 'display: none'}
    %center
      %img{src: '/assets/spinner.gif'}
    %hr


:coffeescript
  $ -> $("#events-list").endlessPage
    query: "#{{q: query}.to_query if query}"
    request_path: "#{request.path}"