#events-list
  #container
    = render 'events/units/events_set', events: events, previous_event_date: nil
  #spinner{style: 'display: none'}
    %img{src: '/assets/spinner.gif', alt: 'spinner'}


:coffeescript
  $ -> $("#events-list").endlessPage
    query: "#{{q: query}.to_query if query}"
    request_path: "#{request.path}"