%menu.buttons.past-upcoming
  %ul
    %li
      %a.button{href: url_for(q: {scope: 'upcoming'}), class: class_if('active', query_scope == 'upcoming')} Upcoming
    %li
      %a.button{href: url_for(q: {scope: 'past'}), class: class_if('active', query_scope == 'past')} Past

