.row
  .large-12
    %hr
    %ul.button-group.round
      %li
        %a.button{href: url_for(q: {scope: 'upcoming'}), class: class_if('disabled', query_scope == 'upcoming')} Upcoming
      %li
        %a.button{href: url_for(q: {scope: 'past'}), class: class_if('disabled', query_scope == 'past')} Past

